@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  color: inherit;
}


.tabs-content {
    & > * {
        padding: px(24,48);
        border-radius: $border-radius-lg;
        box-shadow: $box-shadow;
        background: $white;
    }
}

.btns-ps-0-20{
  @include btns(0,12,12,12);
  a,button{
    padding-left: px(0,20);
  }
}

.btns-ps-8-20{
  @include btns(8,12,12,12);
  a,button{
    padding-left: px(8,20);
  }
}

// 標題段落字體樣式

.display{

  // 目前的 function 只能處理 px
  // 但我不想再寫一個新的就先都用 px 處理

  // 手機版
  // font-size 48
  // line-height: 1.5 = 57.6px

  // 電腦版
  // font-size: 80
  // line-height: 1 = 80px

  $d-min-fs: 32;
  $d-max-fs: 80;
  $d-min-lh: $d-min-fs * 1.2;

  font-weight: bold;
  line-height: px($d-min-lh,$d-max-fs);
  font-size: px($d-min-fs,$d-max-fs);
}

.t-5{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(32,48); 
}

.t-4{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(28,32);
}

.t-3{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(24,28);
}

.t-2{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(20,24);
}

.t-1{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(18,20);
}

.f-lg{
  line-height: 1.5;
  font-size: px(16,18);
}

.f-md{
  line-height: 1.5;
  font-size: px(14,16);
}

.f-sm{
  line-height: 1.5;
  font-size: px(14,14);
}

.f-xs{
  line-height: 1.5;
  font-size: px(12,12);
}

// 處理背景重複部份

$bp-double: 200;
$bp-min-space: 48;
$bp-max-space: 80;

$bg-pt-min: $bp-double + $bp-min-space;
$bg-pt-max: $bp-double + $bp-max-space;

$bp-mb-min: ($bg-pt-min - $bp-min-space * 2) * -1;
$bp-mb-max: ($bg-pt-max - $bp-max-space * 2) * -1;

.pt-bp-double{
  padding-top: px($bg-pt-min,$bg-pt-max);
}

.mb-bp-double{
  margin-bottom: px($bp-mb-min,$bp-mb-max);
}

// 滾動滑動

.scroll {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap !important; 
  & > *{
    scroll-snap-align: start;
  }
  &-primary > *{
    flex: 0 0 px(320,400);
  }
  &-secondary > *{
    flex: 0 0 306px;
  }
}

@media(min-width: map-get($breakpoints,sm)){
  .scroll {
    &-secondary > *{
      flex: none;
    }
  }
}

// postition

.tag-year{
  position: relative;
  &::after{
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 12px;
    color: $white;
    background: $p60;
    padding: 8px 16px;
    font-weight: 500;
    border-radius: $border-radius;
  }
  &-2::after{
    content: "數位遊牧 2 年";
  }
  &-3::after{
    content: "數位遊牧 3 年";
  }
}

.adv-vectors-top{
  top: px(-14,-14);
}

.tag-workway{
  padding: 12px 24px 12px 12px;
  border-radius: 0 12px 0 0;
  background: $n95;
  color: $n50;
}

.tag-serve{
  position: absolute;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10.5px 16px;
  border-radius: 24px 0 12px 0;
  color: $p60;
  background: $n95;
}

.ball{
  width: px(400,800);
  height: px(400,800);
}

.shadow{
  box-shadow: 0px 0px 16px 0px #0000001F;
}

.border-dotted{
  border-bottom: 2px dotted $n85;
}

.transform-rotate{
  transform: rotate(90deg);
}


// 感覺小螢幕左側文字會跑版不知道為什麼
// 先用 media 限縮樣式範圍為 sm 以上
// 手機版則保持 .row 原始 margin-right 設定

@media(min-width: map-get($breakpoints,sm)){

  // Billy.Ji 建議寫法
  // margin-right: calc(-50vw + 50% + 24px);

  // -50vw + 50%
  // 應該是指 (50vw - 50%) * -1 的意思
  // 就是（現在螢幕寬度的一半 - 現在容器寬度的一半 ＝ 現在螢幕右邊界與容器右邊界之間的差）的數值要以負值呈現
  // 這樣就能靠著 margin 負值和響應式單位（vw %）自動推出螢幕跟容器右邊界之間的的間距

  // 24px 應該是一個 gutter 寬的意思
  // 感覺不加也沒有Ｘ軸的樣子
  // 也可能目前寫的結構有默默處理掉這一塊
  // 不是很懂先不要加好了

  // 8/7
  // 由於 index-story-row 上一個 commit 會出現 Ｘ 軸
  // 但我的 13寸 mac 找不到 Ｘ 軸
  // 據卡斯伯老師所說是螢幕不夠大造成的
  // 過程也有嘗試很多種方式找 Ｘ 軸並拍成影片，但徒勞無功
  // 所以改回 Billy.Ji 助教建議的寫法：margin-right: calc(-50vw + 50% + 24px);
  
  // 尋找Ｘ軸過程的影片如下：

  // 找X軸的過程:
  // https://youtu.be/4Ex9T4ThgKQ
  // 尋找Ｘ軸（二）:
  // https://youtu.be/TjoMYVxQ4Ew
  // 尋找Ｘ軸（三）（螢幕放大500%會在約216px以下出現）:
  // https://youtu.be/0pAi3PIMFr4
  // 尋找Ｘ軸（四）（safari ）:
  // https://youtu.be/tGAfbu4mGIc
  // 尋找Ｘ軸（五）（在網址列沒有放大鏡的 icon 的情況找Ｘ軸）:
  // https://youtu.be/8dyg19_xPrE

  // 儘管目前在本地端寫作業是沒有 Ｘ 軸的
  // 但礙於設備限制有可能沒辦法如實報錯隱蔽 Ｘ 軸
  // 真的已經盡全力在宛如一片漆黑的情境除錯 Ｘ 軸問題
  // 如果有 Ｘ 軸的話，不知助教可否明確指出並提供具體修改方向呢？
  // 那就麻煩助教，助教辛苦了！

  .index-story-row{
    margin-right: calc(-50vw + 50% + 24px);
  }
}





