@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  color: inherit;
}


.tabs-content {
    & > * {
        padding: px(24,48);
        border-radius: $border-radius-lg;
        box-shadow: $box-shadow;
        background: $white;
    }
}

.btns-ps-0-20{
  @include btns(0,12,12,12);
  a,button{
    padding-left: px(0,20);
  }
}

// 標題段落字體樣式

.display{

  // 目前的 function 只能處理 px
  // 但我不想再寫一個新的就先都用 px 處理

  // 手機版
  // font-size 48
  // line-height: 1.5 = 57.6px

  // 電腦版
  // font-size: 80
  // line-height: 1 = 80px

  $d-min-fs: 48;
  $d-max-fs: 80;
  $d-min-lh: $d-min-fs * 1.2;

  font-weight: bold;
  line-height: px($d-min-lh,$d-max-fs);
  font-size: px($d-min-fs,$d-max-fs);
}

.t-5{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(32,48); 
}

.t-4{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(28,32);
}

.t-3{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(24,28);
}

.t-2{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(20,24);
}

.t-1{
  font-weight: bold;
  line-height: 1.2; 
  font-size: px(18,20);
}

.f-lg{
  line-height: 1.5;
  font-size: px(16,18);
}

.f-md{
  line-height: 1.5;
  font-size: px(14,16);
}

.f-sm{
  line-height: 1.5;
  font-size: px(14,14);
}

.f-xs{
  line-height: 1.5;
  font-size: px(12,12);
}

