@each $px-key, $px-value-lists in $data-pixel-map {
  @each $px-value-list in $px-value-lists {
    
    $y1: nth($px-value-list,1);
    $y2: if(length($px-value-list) == 2,nth($px-value-list,2),$y1);
    
    $y1-name: replace-char($y1,".","_");
    $y1-name: replace-char($y1-name,"-","n");

    $y2-name: replace-char($y2,".","_");
    $y2-name: replace-char($y2-name,"-","n");
    
    
    .#{$px-key}-#{$y1-name}-#{$y2-name}{
      @each $style-value in map-get($style-map,$px-key) {
        #{$style-value} : px($y1,$y2);
      }
    }
    
  }
}
