
<footer class="bg-light">
    <div class="container-lg py-24-48 border-top">
        <div class="row gx-0 bs-gy-8-8">
            <div class="col-xl btns btns-px-16-24 btns-py-8-8 d-flex flex-wrap justify-content-center justify-content-xl-start">
                <a href="#" class="btn btn-outline-dark border-0">服務方案</a>
                <a href="#" class="btn btn-outline-dark border-0">關於職旅</a>
                <a href="#" class="btn btn-outline-dark border-0">聯絡我們</a>
                <a href="#" class="btn btn-outline-dark border-0">隱私權政策</a>
                <a href="#" class="btn btn-outline-dark border-0">用戶條款</a>
            </div>
            <div class="col-xl-auto d-flex align-items-center justify-content-center justify-content-xl-end">
                <p class="fs-14-14 text-secondary">Copyright © 2025 職旅 workway. All rights reserved.</p>
            </div>
        </div>
    </div>

</footer>