<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom py-14-12">
  <div class="container">

    <a class="navbar-brand py-0" href="#">
        <img class="h-35_61-48 w-92-124" src="../assets/images/logo.svg" alt="logo">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mx-auto gx-12-12 py-8-0 btns btns-px-0-24 btns-py-8-8">
        <li class="nav-item">
          <a class="nav-link" href="#">服務方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">關於職旅</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">聯絡我們</a>
        </li>
      </ul>
    </div>


    <a class="ms-auto me-12-0 fs-14-16" href="user.html">
      <img class="box-44-44 rounded-circle border" src="../assets/images/avatar.png" alt="cat">
      Mokumaru
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon fs-16-16"></span>
    </button>


  </div>
</nav>