<form action="user.html">

    <div class="pb-24-48 mb-24-48 border-bottom">
        <div class="row gx-0 gx-lg-980-24">
            <div class="w-lg-980-300 mb-16-0 d-flex justify-content-between d-lg-block">
                <h2 class="fs-20-24 mb-0-12">職旅計劃概況</h2>
                <p class="d-flex align-items-center">
                    <span class="fs-14-16 text-secondary me-4-4">欄位皆為</span>
                    <span class="badge bg-danger rounded-pill">必填</span>
                </p>
            </div>
            <div class="w-lg-980-656">

                <div class="row gx-0 bs-gy-16-24">

                    <!-- 職業狀態 -->
    
                    <div>
                        <p class="fs-14-16 mb-8-8">目前職業狀態</p>
                        <div class="px-8-8 d-inline-flex flex-wrap gy-8-8 gx-16-24 fs-14-14">
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1-1" value="option1-1" checked>
                            <label class="form-check-label" for="inlineRadio1-1">全職上班族</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1-2" value="option1-2">
                            <label class="form-check-label" for="inlineRadio1-2">兼職工作者</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1-3" value="option1-3">
                            <label class="form-check-label" for="inlineRadio1-3">自由工作者/接案者</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1-4" value="option1-4">
                            <label class="form-check-label" for="inlineRadio1-4">數位遊牧者</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1-5" value="option1-5">
                            <label class="form-check-label" for="inlineRadio1-5">創業者/企業主</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1-6" value="option1-6">
                            <label class="form-check-label" for="inlineRadio1-6">待業中</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1-7" value="option1-7">
                            <label class="form-check-label" for="inlineRadio1-7">其他</label>
                            </div>
                        </div>
                    </div>
    
                    <!-- 工作產業 -->
    
                    <div>
                        <div class="dropdown">
                        <button class="form-select py-16-16 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            工作產業
                        </button>
    
                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">科技</a></li>
                            <li><a class="dropdown-item" href="#">媒體</a></li>
                            <li><a class="dropdown-item" href="#">教育</a></li>
                            <li><a class="dropdown-item" href="#">金融</a></li>
                            <li><a class="dropdown-item" href="#">醫療健康</a></li>
                            <li><a class="dropdown-item" href="#">零售製造</a></li>
                            <li><a class="dropdown-item" href="#">服務業</a></li>
                            <li><a class="dropdown-item" href="#">藝術創意</a></li>
                            <li><a class="dropdown-item" href="#">非營利組織</a></li>
                        </ul>
                        </div>
                    </div>
    
                    <!-- 工作年資 -->
    
                    <div>
                        <div class="dropdown">
                        <button class="form-select py-16-16 text-start" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            工作年資
                        </button>
                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">1 年以下</a></li>
                            <li><a class="dropdown-item" href="#">1-3 年</a></li>
                            <li><a class="dropdown-item" href="#">3-5 年</a></li>
                            <li><a class="dropdown-item" href="#">5-10 年</a></li>
                            <li><a class="dropdown-item" href="#">10 年以上</a></li>
                        </ul>
                        </div>
                    </div>
    
                    <!-- 月收入區間 -->

                    <div>
                        <p class="fs-14-16 mb-8-8">月收入區間</p>
                        <div class="px-8-8 d-inline-flex flex-wrap gy-8-8 gx-16-24 fs-14-14">
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2-1" value="option2-1" checked>
                            <label class="form-check-label" for="inlineRadio2-1">3 萬以下</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2-2" value="option2-2">
                            <label class="form-check-label" for="inlineRadio2-2">3-5 萬</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2-3" value="option2-3">
                            <label class="form-check-label" for="inlineRadio2-3">5-8 萬</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2-4" value="option2-4">
                            <label class="form-check-label" for="inlineRadio2-4">8-12 萬</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2-5" value="option2-5">
                            <label class="form-check-label" for="inlineRadio2-5">12-20 萬</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2-6" value="option2-6">
                            <label class="form-check-label" for="inlineRadio2-6">20 萬以上</label>
                            </div>
                        </div>
                    </div>
    
                    <!-- 職業摘要 -->
    
                    <div>
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）" id="floatingTextarea1" style="height: 160px"></textarea>
                        <label for="floatingTextarea1">職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字）</label>
                        </div>
                    </div>
    
                    <!-- 作品案例展示 -->
    
                    <div>
                        <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputshow1" placeholder="作品案例展示">
                        <label for="floatingInputshow1">作品案例展示</label>
                        </div>
                    </div>
    
                    <!-- 附件檔案 -->
    
                    <div>
                        <p class="fs-14-16 mb-8-8">附件檔案</p>
                        <label class=" btn border" for="filedata">
                            <span class="material-icons-outlined align-bottom">
                                file_upload
                            </span>
                            上傳檔案
                        </label>
                        <input class="d-none" type="file" name="filedata" id="filedata">                                            
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="pb-24-48 mb-24-48 border-bottom">
        <div class="row gx-0 gx-lg-980-24 ">
            <div class="w-lg-980-300 mb-16-0 d-flex justify-content-between d-lg-block">
                <h2 class="fs-20-24 mb-0-12">職涯規劃</h2>
                <p class="d-flex align-items-center">
                    <span class="fs-14-16 text-secondary me-4-4">欄位皆為</span>
                    <span class="badge bg-danger rounded-pill">必填</span>
                </p>
            </div>
            <div class="w-lg-980-656">

                <div class="row gx-0 bs-gy-16-24">

                    <!-- 1 年短期職涯目標（最多 300 字） -->
    
                    <div>
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="1 年短期職涯目標（最多 300 字）" id="floatingTextarea2" style="height: 160px"></textarea>
                        <label for="floatingTextarea2">1 年短期職涯目標（最多 300 字）</label>
                        </div>
                    </div>

                    <!-- 1-3 年中長期職涯願景（最多 300 字） -->
    
                    <div>
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="1-3 年中長期職涯願景（最多 300 字）" id="floatingTextarea3" style="height: 160px"></textarea>
                        <label for="floatingTextarea3">1-3 年中長期職涯願景（最多 300 字）</label>
                        </div>
                    </div>

                    <!-- 理想工作模式 -->

                    <div>
                        <p class="fs-14-16 mb-8-8">理想工作模式</p>
                        <div class="px-8-8 d-inline-flex flex-wrap gy-8-8 gx-16-24 fs-14-14">
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3-1" value="option3-1" checked>
                            <label class="form-check-label" for="inlineRadio3-1">固定辦公室工作</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3-2" value="option3-2">
                            <label class="form-check-label" for="inlineRadio3-2">混合式工作(辦公室+遠端)</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3-3" value="option3-3">
                            <label class="form-check-label" for="inlineRadio3-3">完全遠端工作(固定地點)</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3-4" value="option3-4">
                            <label class="form-check-label" for="inlineRadio3-4">數位遊牧(邊工作邊旅行)</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3-5" value="option3-5">
                            <label class="form-check-label" for="inlineRadio3-5">其他(請說明)</label>
                            </div>
                        </div>
                    </div>

                    <!-- 目標薪資/收入 -->
    
                    <div>
                        <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputshow2" placeholder="目標薪資/收入">
                        <label for="floatingInputshow2">目標薪資/收入</label>
                        </div>
                    </div>

                    <!-- 目前面臨的職涯挑戰 -->
                    <div>
                        <p class="fs-14-16 mb-8-8">目前面臨的職涯挑戰</p>
                        <div class="px-0-8 d-inline-flex flex-wrap gy-8-8 gx-16-24 fs-14-14">
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1-1" value="option1-1">
                            <label class="form-check-label" for="inlineCheckbox1-1">方向不明確</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1-2" value="option1-2">
                            <label class="form-check-label" for="inlineCheckbox1-2">技能需要提升</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1-3" value="option1-3">
                            <label class="form-check-label" for="inlineCheckbox1-3">收入不穩定</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1-4" value="option1-4">
                            <label class="form-check-label" for="inlineCheckbox1-4">客戶開發困難</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1-5" value="option1-5">
                            <label class="form-check-label" for="inlineCheckbox1-5">時間管理問題</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1-6" value="option1-6">
                            <label class="form-check-label" for="inlineCheckbox1-6">工作生活失衡</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1-7" value="option1-7">
                            <label class="form-check-label" for="inlineCheckbox1-7">缺乏人脈資源</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1-8" value="option1-8">
                            <label class="form-check-label" for="inlineCheckbox1-8">其他(請說明)</label>
                            </div>
                        </div>
                    </div>

                    <!-- 期望獲得的協助與資源 -->

                    <div>
                        <p class="fs-14-16 mb-8-8">期望獲得的協助與資源</p>
                        <div class="px-0-8 d-inline-flex flex-wrap gy-8-8 gx-16-24 fs-14-14">
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2-1" value="option2-1">
                            <label class="form-check-label" for="inlineCheckbox2-1">職涯方向指導</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2-2" value="option2-2">
                            <label class="form-check-label" for="inlineCheckbox2-2">專業技能提升建議</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2-3" value="option2-3">
                            <label class="form-check-label" for="inlineCheckbox2-3">個人品牌建立</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2-4" value="option2-4">
                            <label class="form-check-label" for="inlineCheckbox2-4">接案策略與定價</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2-5" value="option2-5">
                            <label class="form-check-label" for="inlineCheckbox2-5">客戶開發方法</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2-6" value="option2-6">
                            <label class="form-check-label" for="inlineCheckbox2-6">財務規劃</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2-7" value="option2-7">
                            <label class="form-check-label" for="inlineCheckbox2-7">時間管理系統</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2-8" value="option2-8">
                            <label class="form-check-label" for="inlineCheckbox2-8">工作生活平衡</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2-9" value="option2-9">
                            <label class="form-check-label" for="inlineCheckbox2-9">其他(請說明)</label>
                            </div>
                        </div>
                    </div>

                    <!-- 感興趣的服務方案 -->

                    <div>
                        <p class="fs-14-16 mb-8-8">感興趣的服務方案</p>
                        <div class="px-0-8 d-inline-flex flex-wrap gy-8-8 gx-16-24 fs-14-14">
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3-1" value="option3-1">
                            <label class="form-check-label" for="inlineCheckbox3-1">探索定位</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3-2" value="option3-2">
                            <label class="form-check-label" for="inlineCheckbox3-2">客製化方案</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3-3" value="option3-3">
                            <label class="form-check-label" for="inlineCheckbox3-3">實戰指導</label>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="pb-24-48 mb-24-48 border-bottom">
        <div class="row gx-0 gx-lg-980-24 ">
            <div class="w-lg-980-300 mb-16-0 d-flex justify-content-between d-lg-block">
                <h2 class="fs-20-24 mb-0-12">專業技能區塊</h2>
                <p class="d-flex align-items-center">
                    <span class="fs-14-16 text-secondary me-4-4">欄位皆為選填</span>
                    <!-- <span class="badge bg-danger rounded-pill">必填</span> -->
                </p>
            </div>
            <div class="w-lg-980-656">

                <div class="row gx-0 bs-gy-16-24">

                    <!-- 核心專業領域 -->

                    <div>
                        <p class="fs-14-16 mb-8-8">核心專業領域</p>
                        <div class="px-0-8 d-inline-flex flex-wrap gy-8-8 gx-16-24 fs-14-14">
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-1" value="option4-1">
                            <label class="form-check-label" for="inlineCheckbox4-1">設計/創意</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-2" value="option4-2">
                            <label class="form-check-label" for="inlineCheckbox4-2">科技/程式開發</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-3" value="option4-3">
                            <label class="form-check-label" for="inlineCheckbox4-3">行銷/公關</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-4" value="option4-4">
                            <label class="form-check-label" for="inlineCheckbox4-4">內容創作/寫作</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-5" value="option4-5">
                            <label class="form-check-label" for="inlineCheckbox4-5">顧問/諮詢</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-6" value="option4-6">
                            <label class="form-check-label" for="inlineCheckbox4-6">商業/管理</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-7" value="option4-7">
                            <label class="form-check-label" for="inlineCheckbox4-7">財務/會計</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-8" value="option4-8">
                            <label class="form-check-label" for="inlineCheckbox4-8">教育/培訓</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-9" value="option4-9">
                            <label class="form-check-label" for="inlineCheckbox4-9">法律/合規</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox4-10" value="option4-10">
                            <label class="form-check-label" for="inlineCheckbox4-10">健康/醫療</label>
                            </div>
                        </div>
                    </div>

                    <!-- 專業背景和核心競爭力（最多300字） -->
    
                    <div>
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="專業背景和核心競爭力（最多300字）" id="floatingTextarea4" style="height: 160px"></textarea>
                        <label for="floatingTextarea4">專業背景和核心競爭力（最多300字）</label>
                        </div>
                    </div>

                    <!-- 專業技能（最多300字） -->
    
                    <div>
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="專業技能（最多300字）" id="floatingTextarea5" style="height: 160px"></textarea>
                        <label for="floatingTextarea5">專業技能（最多300字）</label>
                        </div>
                    </div>

                    <!-- 語文能力（最多300字） -->
    
                    <div>
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="語文能力（最多300字）" id="floatingTextarea6" style="height: 160px"></textarea>
                        <label for="floatingTextarea6">語文能力（最多300字）</label>
                        </div>
                    </div>

                    <!-- 資格證照（最多300字） -->
    
                    <div>
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="資格證照（最多300字）" id="floatingTextarea7" style="height: 160px"></textarea>
                        <label for="floatingTextarea7">資格證照（最多300字）</label>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="mb-24-48">
        <div class="row gx-0 gx-lg-980-24 ">
            <div class="w-lg-980-300 mb-16-0 d-flex justify-content-between d-lg-block">
                    <h2 class="fs-20-24 mb-0-12">教育背景</h2>
                    <p class="d-flex align-items-center">
                        <span class="fs-14-16 text-secondary me-4-4">欄位皆為選填</span>
                        <!-- <span class="badge bg-danger rounded-pill">必填</span> -->
                    </p>
            </div>
            <div class="w-lg-980-656">
    
                <div class="row gx-0 bs-gy-16-24">
    
                    <!-- 學歷背景（最多500字） -->
    
                    <div>
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="學歷背景（最多500字）" id="floatingTextarea8" style="height: 160px"></textarea>
                        <label for="floatingTextarea8">學歷背景（最多500字）</label>
                        </div>
                    </div>
    
                    <!-- 專業培訓與工作坊（最多500字） -->
    
                    <div>
                        <div class="form-floating">
                        <textarea class="form-control" placeholder="專業培訓與工作坊（最多500字）" id="floatingTextarea9" style="height: 160px"></textarea>
                        <label for="floatingTextarea9">專業培訓與工作坊（最多500字）</label>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>

    <div class="row gx-0 gx-0-24 bs-gy-16-16 justify-content-center ">
        <button type="button" class="btn btn-outline-dark d-flex align-items-center justify-content-center col-md-auto order-2 order-md-1 border">
            匯出 PDF
            <span class="material-icons-outlined">chevron_right</span>
        </button>
        <button type="button" class="btn btn-dark d-flex align-items-center justify-content-center col-md-auto order-1 order-md-2">
            儲存更新
            <span class="material-icons-outlined">chevron_right</span>
        </button>
    </div>

</form>