        <div class="row gx-0 gx-lg-980-24">

            <div class="w-lg-980-300 mb-16-0 d-flex justify-content-between d-lg-block">
                <h1 class="fs-20-24 mb-0-12">個人資料</h1>
            </div>

            <div class="w-lg-980-656    mb-80-48">

                <div class="row gx-0 bs-gy-16-24">

                    <!-- 貓＆更新頭貼 -->

                    <div class="d-flex align-items-end gx-16-16">
                        <a href="user.html">
                            <img class="box-120-120 rounded-circle border" src="../assets/images/avatar.png" alt="cat">
                        </a>
                        <label class=" btn border" for="filedata">
                            <span class="material-icons-outlined align-bottom">
                                file_upload
                            </span>
                            更新頭貼
                        </label>
                        <input class="d-none" type="file" name="filedata" id="filedata">
                    </div>

                    <!-- 姓名 Mokumaru -->
    
                    <div>
                        <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputshow3" placeholder="姓名" value="Mokumaru">
                        <label for="floatingInputshow3">姓名</label>
                        </div>
                    </div>

                    <!-- 性別 -->

                    <div>
                        <p class="fs-14-16 mb-8-8">性別</p>
                        <div class="px-8-8 d-inline-flex flex-wrap gy-8-8 gx-16-24 fs-14-14">
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio4-1" value="option3-1" checked>
                            <label class="form-check-label" for="inlineRadio4-1">女性</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio4-2" value="option3-2">
                            <label class="form-check-label" for="inlineRadio4-2">男性</label>
                            </div>
                            <div class="form-check form-check-inline me-0">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio4-3" value="option3-3">
                            <label class="form-check-label" for="inlineRadio4-3">不願透露</label>
                            </div>
                        </div>
                    </div>

                    <!-- 生日 2000/01/10 -->
    
                    <div>
                        <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputshow4" placeholder="生日" value="2000/01/10">
                        <label for="floatingInputshow4">生日</label>
                        </div>
                    </div>

                    <!-- 密碼 -->

                    <div>
                        <p class="fs-14-16 mb-8-8">密碼</p>
                        <button type="button" class="btn btn-outline-dark d-flex align-items-center justify-content-center border">
                            修改密碼
                            <span class="material-icons-outlined">chevron_right</span>
                        </button>
                    </div>

                    <!-- 信箱 mokumaru@mail.com -->
    
                    <div>
                        <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputshow5" placeholder="信箱" value="mokumaru@mail.com">
                        <label for="floatingInputshow5">信箱</label>
                        <p class="form-text px-8-8">盡量勿使用Yahoo或Hotmail郵件信箱，以免因擋信、漏信</p>
                        </div>
                    </div>

                    <!-- 聯絡電話 09-1234-5678 -->
    
                    <div>
                        <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputshow6" placeholder="聯絡電話" value="09-1234-5678">
                        <label for="floatingInputshow6">聯絡電話</label>
                        </div>
                    </div>

                    <!-- 通訊地址 高雄市三民區九如一路 87 號 -->
    
                    <div>
                        <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInputshow7" placeholder="通訊地址" value="高雄市三民區九如一路 87 號">
                        <label for="floatingInputshow7">通訊地址</label>
                        </div>
                    </div>




                </div>

            </div>


            <div class="row gx-0 gx-0-24 bs-gy-16-16 justify-content-center">
                <button type="button" class="btn btn-outline-dark d-flex align-items-center justify-content-center col-md-auto order-2 order-md-1 border">
                    重新填寫
                    <span class="material-icons-outlined">chevron_right</span>
                </button>
                <button type="button" class="btn btn-dark d-flex align-items-center justify-content-center col-md-auto order-1 order-md-2">
                    儲存更新
                    <span class="material-icons-outlined">chevron_right</span>
                </button>
            </div>


        </div>