.gx-12-12 {
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.gx-16-16 {
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.gx-16-24 {
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (min-width: 576px) {
  .gx-16-24 {
    -moz-column-gap: 17.6px;
         column-gap: 17.6px;
  }
}
@media (min-width: 768px) {
  .gx-16-24 {
    -moz-column-gap: 19.2px;
         column-gap: 19.2px;
  }
}
@media (min-width: 992px) {
  .gx-16-24 {
    -moz-column-gap: 20.8px;
         column-gap: 20.8px;
  }
}
@media (min-width: 1200px) {
  .gx-16-24 {
    -moz-column-gap: 22.4px;
         column-gap: 22.4px;
  }
}
@media (min-width: 1400px) {
  .gx-16-24 {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}

.gx-0-24 {
  -moz-column-gap: 0px;
       column-gap: 0px;
}
@media (min-width: 576px) {
  .gx-0-24 {
    -moz-column-gap: 4.8px;
         column-gap: 4.8px;
  }
}
@media (min-width: 768px) {
  .gx-0-24 {
    -moz-column-gap: 9.6px;
         column-gap: 9.6px;
  }
}
@media (min-width: 992px) {
  .gx-0-24 {
    -moz-column-gap: 14.4px;
         column-gap: 14.4px;
  }
}
@media (min-width: 1200px) {
  .gx-0-24 {
    -moz-column-gap: 19.2px;
         column-gap: 19.2px;
  }
}
@media (min-width: 1400px) {
  .gx-0-24 {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}

.gy-8-8 {
  row-gap: 8px;
}

.box-44-44 {
  width: 44px;
  height: 44px;
}

.box-120-120 {
  width: 120px;
  height: 120px;
}

.w-92-124 {
  width: 92px;
}
@media (min-width: 576px) {
  .w-92-124 {
    width: 98.4px;
  }
}
@media (min-width: 768px) {
  .w-92-124 {
    width: 104.8px;
  }
}
@media (min-width: 992px) {
  .w-92-124 {
    width: 111.2px;
  }
}
@media (min-width: 1200px) {
  .w-92-124 {
    width: 117.6px;
  }
}
@media (min-width: 1400px) {
  .w-92-124 {
    width: 124px;
  }
}

.h-35_61-48 {
  height: 35.61px;
}
@media (min-width: 576px) {
  .h-35_61-48 {
    height: 38.088px;
  }
}
@media (min-width: 768px) {
  .h-35_61-48 {
    height: 40.566px;
  }
}
@media (min-width: 992px) {
  .h-35_61-48 {
    height: 43.044px;
  }
}
@media (min-width: 1200px) {
  .h-35_61-48 {
    height: 45.522px;
  }
}
@media (min-width: 1400px) {
  .h-35_61-48 {
    height: 48px;
  }
}

.px-0-8 {
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 576px) {
  .px-0-8 {
    padding-left: 1.6px;
    padding-right: 1.6px;
  }
}
@media (min-width: 768px) {
  .px-0-8 {
    padding-left: 3.2px;
    padding-right: 3.2px;
  }
}
@media (min-width: 992px) {
  .px-0-8 {
    padding-left: 4.8px;
    padding-right: 4.8px;
  }
}
@media (min-width: 1200px) {
  .px-0-8 {
    padding-left: 6.4px;
    padding-right: 6.4px;
  }
}
@media (min-width: 1400px) {
  .px-0-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.px-8-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-48-80 {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media (min-width: 576px) {
  .py-48-80 {
    padding-top: 54.4px;
    padding-bottom: 54.4px;
  }
}
@media (min-width: 768px) {
  .py-48-80 {
    padding-top: 60.8px;
    padding-bottom: 60.8px;
  }
}
@media (min-width: 992px) {
  .py-48-80 {
    padding-top: 67.2px;
    padding-bottom: 67.2px;
  }
}
@media (min-width: 1200px) {
  .py-48-80 {
    padding-top: 73.6px;
    padding-bottom: 73.6px;
  }
}
@media (min-width: 1400px) {
  .py-48-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.py-24-48 {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (min-width: 576px) {
  .py-24-48 {
    padding-top: 28.8px;
    padding-bottom: 28.8px;
  }
}
@media (min-width: 768px) {
  .py-24-48 {
    padding-top: 33.6px;
    padding-bottom: 33.6px;
  }
}
@media (min-width: 992px) {
  .py-24-48 {
    padding-top: 38.4px;
    padding-bottom: 38.4px;
  }
}
@media (min-width: 1200px) {
  .py-24-48 {
    padding-top: 43.2px;
    padding-bottom: 43.2px;
  }
}
@media (min-width: 1400px) {
  .py-24-48 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.py-14-12 {
  padding-top: 14px;
  padding-bottom: 14px;
}
@media (min-width: 576px) {
  .py-14-12 {
    padding-top: 13.6px;
    padding-bottom: 13.6px;
  }
}
@media (min-width: 768px) {
  .py-14-12 {
    padding-top: 13.2px;
    padding-bottom: 13.2px;
  }
}
@media (min-width: 992px) {
  .py-14-12 {
    padding-top: 12.8px;
    padding-bottom: 12.8px;
  }
}
@media (min-width: 1200px) {
  .py-14-12 {
    padding-top: 12.4px;
    padding-bottom: 12.4px;
  }
}
@media (min-width: 1400px) {
  .py-14-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.py-8-0 {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (min-width: 576px) {
  .py-8-0 {
    padding-top: 6.4px;
    padding-bottom: 6.4px;
  }
}
@media (min-width: 768px) {
  .py-8-0 {
    padding-top: 4.8px;
    padding-bottom: 4.8px;
  }
}
@media (min-width: 992px) {
  .py-8-0 {
    padding-top: 3.2px;
    padding-bottom: 3.2px;
  }
}
@media (min-width: 1200px) {
  .py-8-0 {
    padding-top: 1.6px;
    padding-bottom: 1.6px;
  }
}
@media (min-width: 1400px) {
  .py-8-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.py-16-24 {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 576px) {
  .py-16-24 {
    padding-top: 17.6px;
    padding-bottom: 17.6px;
  }
}
@media (min-width: 768px) {
  .py-16-24 {
    padding-top: 19.2px;
    padding-bottom: 19.2px;
  }
}
@media (min-width: 992px) {
  .py-16-24 {
    padding-top: 20.8px;
    padding-bottom: 20.8px;
  }
}
@media (min-width: 1200px) {
  .py-16-24 {
    padding-top: 22.4px;
    padding-bottom: 22.4px;
  }
}
@media (min-width: 1400px) {
  .py-16-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.py-16-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pb-24-48 {
  padding-bottom: 24px;
}
@media (min-width: 576px) {
  .pb-24-48 {
    padding-bottom: 28.8px;
  }
}
@media (min-width: 768px) {
  .pb-24-48 {
    padding-bottom: 33.6px;
  }
}
@media (min-width: 992px) {
  .pb-24-48 {
    padding-bottom: 38.4px;
  }
}
@media (min-width: 1200px) {
  .pb-24-48 {
    padding-bottom: 43.2px;
  }
}
@media (min-width: 1400px) {
  .pb-24-48 {
    padding-bottom: 48px;
  }
}

.me-12-0 {
  margin-right: 12px;
}
@media (min-width: 576px) {
  .me-12-0 {
    margin-right: 9.6px;
  }
}
@media (min-width: 768px) {
  .me-12-0 {
    margin-right: 7.2px;
  }
}
@media (min-width: 992px) {
  .me-12-0 {
    margin-right: 4.8px;
  }
}
@media (min-width: 1200px) {
  .me-12-0 {
    margin-right: 2.4px;
  }
}
@media (min-width: 1400px) {
  .me-12-0 {
    margin-right: 0px;
  }
}

.me-0-4 {
  margin-right: 0px;
}
@media (min-width: 576px) {
  .me-0-4 {
    margin-right: 0.8px;
  }
}
@media (min-width: 768px) {
  .me-0-4 {
    margin-right: 1.6px;
  }
}
@media (min-width: 992px) {
  .me-0-4 {
    margin-right: 2.4px;
  }
}
@media (min-width: 1200px) {
  .me-0-4 {
    margin-right: 3.2px;
  }
}
@media (min-width: 1400px) {
  .me-0-4 {
    margin-right: 4px;
  }
}

.me-4-4 {
  margin-right: 4px;
}

.mb-16-0 {
  margin-bottom: 16px;
}
@media (min-width: 576px) {
  .mb-16-0 {
    margin-bottom: 12.8px;
  }
}
@media (min-width: 768px) {
  .mb-16-0 {
    margin-bottom: 9.6px;
  }
}
@media (min-width: 992px) {
  .mb-16-0 {
    margin-bottom: 6.4px;
  }
}
@media (min-width: 1200px) {
  .mb-16-0 {
    margin-bottom: 3.2px;
  }
}
@media (min-width: 1400px) {
  .mb-16-0 {
    margin-bottom: 0px;
  }
}

.mb-16-24 {
  margin-bottom: 16px;
}
@media (min-width: 576px) {
  .mb-16-24 {
    margin-bottom: 17.6px;
  }
}
@media (min-width: 768px) {
  .mb-16-24 {
    margin-bottom: 19.2px;
  }
}
@media (min-width: 992px) {
  .mb-16-24 {
    margin-bottom: 20.8px;
  }
}
@media (min-width: 1200px) {
  .mb-16-24 {
    margin-bottom: 22.4px;
  }
}
@media (min-width: 1400px) {
  .mb-16-24 {
    margin-bottom: 24px;
  }
}

.mb-24-48 {
  margin-bottom: 24px;
}
@media (min-width: 576px) {
  .mb-24-48 {
    margin-bottom: 28.8px;
  }
}
@media (min-width: 768px) {
  .mb-24-48 {
    margin-bottom: 33.6px;
  }
}
@media (min-width: 992px) {
  .mb-24-48 {
    margin-bottom: 38.4px;
  }
}
@media (min-width: 1200px) {
  .mb-24-48 {
    margin-bottom: 43.2px;
  }
}
@media (min-width: 1400px) {
  .mb-24-48 {
    margin-bottom: 48px;
  }
}

.mb-8-8 {
  margin-bottom: 8px;
}

.mb-0-12 {
  margin-bottom: 0px;
}
@media (min-width: 576px) {
  .mb-0-12 {
    margin-bottom: 2.4px;
  }
}
@media (min-width: 768px) {
  .mb-0-12 {
    margin-bottom: 4.8px;
  }
}
@media (min-width: 992px) {
  .mb-0-12 {
    margin-bottom: 7.2px;
  }
}
@media (min-width: 1200px) {
  .mb-0-12 {
    margin-bottom: 9.6px;
  }
}
@media (min-width: 1400px) {
  .mb-0-12 {
    margin-bottom: 12px;
  }
}

.mb-80-48 {
  margin-bottom: 80px;
}
@media (min-width: 576px) {
  .mb-80-48 {
    margin-bottom: 73.6px;
  }
}
@media (min-width: 768px) {
  .mb-80-48 {
    margin-bottom: 67.2px;
  }
}
@media (min-width: 992px) {
  .mb-80-48 {
    margin-bottom: 60.8px;
  }
}
@media (min-width: 1200px) {
  .mb-80-48 {
    margin-bottom: 54.4px;
  }
}
@media (min-width: 1400px) {
  .mb-80-48 {
    margin-bottom: 48px;
  }
}

.fs-14-16 {
  font-size: 14px;
}
@media (min-width: 576px) {
  .fs-14-16 {
    font-size: 14.4px;
  }
}
@media (min-width: 768px) {
  .fs-14-16 {
    font-size: 14.8px;
  }
}
@media (min-width: 992px) {
  .fs-14-16 {
    font-size: 15.2px;
  }
}
@media (min-width: 1200px) {
  .fs-14-16 {
    font-size: 15.6px;
  }
}
@media (min-width: 1400px) {
  .fs-14-16 {
    font-size: 16px;
  }
}

.fs-14-14 {
  font-size: 14px;
}

.fs-16-16 {
  font-size: 16px;
}

.fs-20-20 {
  font-size: 20px;
}

.fs-20-24 {
  font-size: 20px;
}
@media (min-width: 576px) {
  .fs-20-24 {
    font-size: 20.8px;
  }
}
@media (min-width: 768px) {
  .fs-20-24 {
    font-size: 21.6px;
  }
}
@media (min-width: 992px) {
  .fs-20-24 {
    font-size: 22.4px;
  }
}
@media (min-width: 1200px) {
  .fs-20-24 {
    font-size: 23.2px;
  }
}
@media (min-width: 1400px) {
  .fs-20-24 {
    font-size: 24px;
  }
}

.fs-28-32 {
  font-size: 28px;
}
@media (min-width: 576px) {
  .fs-28-32 {
    font-size: 28.8px;
  }
}
@media (min-width: 768px) {
  .fs-28-32 {
    font-size: 29.6px;
  }
}
@media (min-width: 992px) {
  .fs-28-32 {
    font-size: 30.4px;
  }
}
@media (min-width: 1200px) {
  .fs-28-32 {
    font-size: 31.2px;
  }
}
@media (min-width: 1400px) {
  .fs-28-32 {
    font-size: 32px;
  }
}

.fs-16-18 {
  font-size: 16px;
}
@media (min-width: 576px) {
  .fs-16-18 {
    font-size: 16.4px;
  }
}
@media (min-width: 768px) {
  .fs-16-18 {
    font-size: 16.8px;
  }
}
@media (min-width: 992px) {
  .fs-16-18 {
    font-size: 17.2px;
  }
}
@media (min-width: 1200px) {
  .fs-16-18 {
    font-size: 17.6px;
  }
}
@media (min-width: 1400px) {
  .fs-16-18 {
    font-size: 18px;
  }
}

.bs-gy-16-24 {
  --bs-gutter-y: 16px;
}
@media (min-width: 576px) {
  .bs-gy-16-24 {
    --bs-gutter-y: 17.6px;
  }
}
@media (min-width: 768px) {
  .bs-gy-16-24 {
    --bs-gutter-y: 19.2px;
  }
}
@media (min-width: 992px) {
  .bs-gy-16-24 {
    --bs-gutter-y: 20.8px;
  }
}
@media (min-width: 1200px) {
  .bs-gy-16-24 {
    --bs-gutter-y: 22.4px;
  }
}
@media (min-width: 1400px) {
  .bs-gy-16-24 {
    --bs-gutter-y: 24px;
  }
}

.bs-gy-16-16 {
  --bs-gutter-y: 16px;
}

.bs-gy-8-8 {
  --bs-gutter-y: 8px;
}

.btns-px-0-24 {
  --btns-px: 0px;
}
@media (min-width: 576px) {
  .btns-px-0-24 {
    --btns-px: 4.8px;
  }
}
@media (min-width: 768px) {
  .btns-px-0-24 {
    --btns-px: 9.6px;
  }
}
@media (min-width: 992px) {
  .btns-px-0-24 {
    --btns-px: 14.4px;
  }
}
@media (min-width: 1200px) {
  .btns-px-0-24 {
    --btns-px: 19.2px;
  }
}
@media (min-width: 1400px) {
  .btns-px-0-24 {
    --btns-px: 24px;
  }
}

.btns-px-16-24 {
  --btns-px: 16px;
}
@media (min-width: 576px) {
  .btns-px-16-24 {
    --btns-px: 17.6px;
  }
}
@media (min-width: 768px) {
  .btns-px-16-24 {
    --btns-px: 19.2px;
  }
}
@media (min-width: 992px) {
  .btns-px-16-24 {
    --btns-px: 20.8px;
  }
}
@media (min-width: 1200px) {
  .btns-px-16-24 {
    --btns-px: 22.4px;
  }
}
@media (min-width: 1400px) {
  .btns-px-16-24 {
    --btns-px: 24px;
  }
}

.btns-px-12-20 {
  --btns-px: 12px;
}
@media (min-width: 576px) {
  .btns-px-12-20 {
    --btns-px: 13.6px;
  }
}
@media (min-width: 768px) {
  .btns-px-12-20 {
    --btns-px: 15.2px;
  }
}
@media (min-width: 992px) {
  .btns-px-12-20 {
    --btns-px: 16.8px;
  }
}
@media (min-width: 1200px) {
  .btns-px-12-20 {
    --btns-px: 18.4px;
  }
}
@media (min-width: 1400px) {
  .btns-px-12-20 {
    --btns-px: 20px;
  }
}

.btns-py-8-8 {
  --btns-py: 8px;
}

.btns-py-12-12 {
  --btns-py: 12px;
}

.tabs-content-p-24-48 {
  --tabs-content-p: 24px;
}
@media (min-width: 576px) {
  .tabs-content-p-24-48 {
    --tabs-content-p: 28.8px;
  }
}
@media (min-width: 768px) {
  .tabs-content-p-24-48 {
    --tabs-content-p: 33.6px;
  }
}
@media (min-width: 992px) {
  .tabs-content-p-24-48 {
    --tabs-content-p: 38.4px;
  }
}
@media (min-width: 1200px) {
  .tabs-content-p-24-48 {
    --tabs-content-p: 43.2px;
  }
}
@media (min-width: 1400px) {
  .tabs-content-p-24-48 {
    --tabs-content-p: 48px;
  }
}

@media (min-width: 992px) {
  .w-lg-980-300 {
    width: 30.612244898%;
  }
}
@media (min-width: 992px) {
  .w-lg-980-656 {
    width: 66.9387755102%;
  }
}
@media (min-width: 992px) {
  .gx-lg-980-24 {
    -moz-column-gap: 2.4489795918%;
         column-gap: 2.4489795918%;
  }
}
body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #141a1f;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.btns a,
.btns button {
  padding-top: var(--btns-py) !important;
  padding-bottom: var(--btns-py) !important;
  padding-left: var(--btns-px) !important;
  padding-right: var(--btns-px) !important;
}

.tabs-content > * {
  padding: var(--tabs-content-p);
  border-radius: 24px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1215686275);
  background: #FCFCFD;
}

footer p {
  letter-spacing: 0;
}/*# sourceMappingURL=all.css.map */