<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

<main class="bg-light py-48-80">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-lg-10">

               <ul class="nav nav-pills gx-16-24 mb-16-24 bs-nav-link-px-12-20 bs-nav-link-py-12-12 justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link align-items-center d-flex active" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button" role="tab" aria-controls="pills-info" aria-selected="true">
                            <span class="material-icons-outlined me-0-4 fs-20-20">face</span>
                            <span class="f-md">個人資料</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link align-items-center d-flex" id="pills-record-tab" data-bs-toggle="pill" data-bs-target="#pills-record" type="button" role="tab" aria-controls="pills-record" aria-selected="false">
                            <span class="material-icons-outlined me-0-4 fs-20-20">pending_actions</span>
                            <span class="f-md">預約紀錄</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link align-items-center d-flex" id="pills-plan-tab" data-bs-toggle="pill" data-bs-target="#pills-plan" type="button" role="tab" aria-controls="pills-plan" aria-selected="false">
                            <span class="material-icons-outlined me-0-4 fs-20-20">list_alt</span>
                            <span class="f-md">職旅計劃</span>
                        </button>
                    </li>
                </ul>

                <div class="tab-content tabs-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab"><%- include('./layout/user-me'); -%></div>
                    <div class="tab-pane fade" id="pills-record" role="tabpanel" aria-labelledby="pills-record-tab"><%- include('./layout/user-history'); -%></div>
                    <div class="tab-pane fade" id="pills-plan" role="tabpanel" aria-labelledby="pills-plan-tab"><%- include('./layout/user-plan'); -%></div>
                </div>

            </div>
        </div>
    </div>
</main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
