$data-pixel-map: (
  gx: (
    (12),
    (16),
    (16,24),
    (0,24),
  ),
  gy: (
    (8),
  ),
  box: (
    (44),
    (120),
    (160),
  ),
  w: (
    (92,124),
    (351,815),
    (22),
  ),
  h: (
    (35.61,48),
  ),
  p: (
    (8),
    (24),
  ),
  px: (
    (0,8),
    (8),
    (24,48),
  ),
  py: (
    (48,80),
    (24,48),
    (14,12),
    (12,12),
    (8,0),
    (40),
    (16,24),
    (16),
    (11.5),
    (10),
  ),
  pt: (
    (8,40),
    (248,280),
    (64),
  ),
  pb: (
    (24,48),
    (24),
    (48,80),
    (16),
  ),
  ps: (
  ),
  me: (
    (12,0),
    (0,4),
    (4),
    (8),
  ),
  mb: (
    (16),
    (16,0),
    (16,24),
    (24,48),
    (24),
    (12),
    (8),
    (48),
    (0,12),
    (80,48),
    (96,160),
    (-140.5,-108),
  ),
  pe: (
    (8),
  ),
  mt: (
  ),
  ms: (
  ),
  fs: (
    (20),
  ),

// bootstrap

  bs-gy: (
    (16,24),
    (16),
    (16,0),
    (8),
    (0,24),
    (24),
  ),

  bs-gx: (
    (0,24),
  ),


  bs-nav-link-px: (
    (12,20),
    (0,20),
    (0,24),
  ),
  bs-nav-link-py: (
    (12,12),
    (8,8),
  ),

);

$data-percent-map: (
  w: (
    (lg,980,300),
    (lg,980,656),
    (xl,1296,815),
    (lg,1896,1596),
    ),
  gx: (
    (lg,980,24),
  ),
);