$data-pixel-map: (
  gx: (
    (12),
    (16),
    (16,24),
    (0,24),
  ),
  gy: (
    (8),
  ),
  box: (
    (44),
    (120),
  ),
  w: (
    (92,124),
  ),
  h: (
    (35.61,48),
  ),
  px: (
    (0,8),
    (8),
  ),
  py: (
    (48,80),
    (24,48),
    (14,12),
    (8,0),
    (16,24),
    (16),
  ),
  pb: (
    (24,48),
  ),
  me: (
    (12,0),
    (0,4),
    (4),
  ),
  mb: (
    (16,0),
    (16,24),
    (24,48),
    (8),
    (0,12),
    (80,48),
  ),
  fs: (
    (14,16),
    (14),
    (16),
    (20),
    (20,24),
    (28,32),
    (16,18),
  ),

// bootstrap

  bs-gy: (
    (16,24),
    (16),
    (8),
  ),
  
// btns

  btns-px: (
    (0,24),
    (16,24),
    (12,20),
  ),
  btns-py: (
    (8),
    (12),
  ),


  tabs-content-p: (
    (24,48),
  ),
);

$data-percent-map: (
  w: (
    (lg,980,300),
    (lg,980,656),
  ),
  gx: (
    (lg,980,24),
  ),
);