$style-map: (
  box: (width,height),
  w: (width),
  h: (height),
  p: (padding),
  px: (padding-left,padding-right),
  py: (padding-top,padding-bottom),
  pt: (padding-top),
  pb: (padding-bottom),
  pe: (padding-right),
  ps: (padding-left),
  me: (margin-right),
  mb: (margin-bottom),
  mt: (margin-top),
  ms: (margin-left),
  gx: (column-gap),
  gy: (row-gap),
  gw: (--col-width),
  fs: (font-size),

// bootstrap

  bs-gx: (--bs-gutter-x),
  bs-gy: (--bs-gutter-y),

  bs-nav-link-px: (--bs-nav-link-padding-x,--bs-navbar-nav-link-padding-x),
  bs-nav-link-py: (--bs-nav-link-padding-y),

);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$display: (
  
);










